<a href="https://colab.research.google.com/github/Madung2/BaekJoon/blob/main/BaekJoon0728.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

상근이는 요즘 설탕공장에서 설탕을 배달하고 있다. 상근이는 지금 사탕가게에 설탕을 정확하게 N킬로그램을 배달해야 한다. 설탕공장에서 만드는 설탕은 봉지에 담겨져 있다. 봉지는 3킬로그램 봉지와 5킬로그램 봉지가 있다.

상근이는 귀찮기 때문에, 최대한 적은 봉지를 들고 가려고 한다. 예를 들어, 18킬로그램 설탕을 배달해야 할 때, 3킬로그램 봉지 6개를 가져가도 되지만, 5킬로그램 3개와 3킬로그램 1개를 배달하면, 더 적은 개수의 봉지를 배달할 수 있다.

상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 그 수를 구하는 프로그램을 작성하시오.

In [ ]:
#3과 5를 사용해서 나누어 떨어지는지
#나누어떨어질때 가장 5를 많이 사용하는 값은 무엇인지

In [ ]:
num=int(input())

if num%5==0:
  dec_num= num/5 
else:
  dec_num= num//5 
def count_sack(dec_num):
  for i in range(dec_num,-1,-1):
    if (num-(i*5))%3==0:
      j=(num-(i*5))//3
      return i+j
  return -1
print(count_sack(dec_num))

11

3

In [ ]:
#여기서 부터 5로 나눈 나머지 값이 3으로 나눠지는지 확인한다
def count_sack(dec_num):
  for i in range(dec_num,-1,-1):
    if (num-(i*5))%3==0:
      j=(num-(i*5))//3
      return(True, i+j)
  return -1
count_sack(dec_num)

(True, 3)

우현이는 어린 시절, 지구 외의 다른 행성에서도 인류들이 살아갈 수 있는 미래가 오리라 믿었다. 그리고 그가 지구라는 세상에 발을 내려 놓은 지 23년이 지난 지금, 세계 최연소 ASNA 우주 비행사가 되어 새로운 세계에 발을 내려 놓는 영광의 순간을 기다리고 있다.

그가 탑승하게 될 우주선은 Alpha Centauri라는 새로운 인류의 보금자리를 개척하기 위한 대규모 생활 유지 시스템을 탑재하고 있기 때문에, 그 크기와 질량이 엄청난 이유로 최신기술력을 총 동원하여 개발한 공간이동 장치를 탑재하였다. 하지만 이 공간이동 장치는 이동 거리를 급격하게 늘릴 경우 기계에 심각한 결함이 발생하는 단점이 있어서, 이전 작동시기에 k광년을 이동하였을 때는 k-1 , k 혹은 k+1 광년만을 다시 이동할 수 있다. 예를 들어, 이 장치를 처음 작동시킬 경우 -1 , 0 , 1 광년을 이론상 이동할 수 있으나 사실상 음수 혹은 0 거리만큼의 이동은 의미가 없으므로 1 광년을 이동할 수 있으며, 그 다음에는 0 , 1 , 2 광년을 이동할 수 있는 것이다. ( 여기서 다시 2광년을 이동한다면 다음 시기엔 1, 2, 3 광년을 이동할 수 있다. )



김우현은 공간이동 장치 작동시의 에너지 소모가 크다는 점을 잘 알고 있기 때문에 x지점에서 y지점을 향해 최소한의 작동 횟수로 이동하려 한다. 하지만 y지점에 도착해서도 공간 이동장치의 안전성을 위하여 y지점에 도착하기 바로 직전의 이동거리는 반드시 1광년으로 하려 한다.

김우현을 위해 x지점부터 정확히 y지점으로 이동하는데 필요한 공간 이동 장치 작동 횟수의 최솟값을 구하는 프로그램을 작성하라.

In [ ]:
1 2 3 4 3 2 1
1234554321
123434321
12344544321
1
11
111
121
1211 3:1 4:2  5:2 
1221
12121
12221
12321 5:1, 6:3, 7:3
123211
123221
123321
1233211
1233221
1233321
1234321
//1만 사용하는게 3개 1, 1, 1
//2까지만 사용하는게 5개 1, 2, 2
3까지만 사용하는 게 7개 1. 3. 3.
4까지만 사용하는게 9개 1, 4, 4
...
//n까지만 사용하는게 1+2+3+4+...(n+1)+1+2+3+...(n)-1
X=만큼의 이동 거리를 갈려고 할때

거리가 X일때 X-1/2가 사용하는 최대 숫자

최대숫자가 n이면 
거리가 2n일  경우 n
2n-1일 경우 1
2n+1일 경우 n+1


1->1
2->2
3->3
4->3  2*2 2*2-1
5->4 2의 제곱+1 2*2
6->4  2*3  2*2
7->5
8->5
9->5  3의 제곱은 3*2-1
10 6
11 6
12 6  3*4=> 
13 7
14 7
15 7
16 7


n의 제곱이면 n*2-1
n+1의 제곱-1 + n의 제곱/2

In [ ]:
#n까지만 사용하는 수를 구하는함수
n=5
def max_num(n):
  a=0
  b=0

  for i in range(n+2):
    a=a+i
  for j in range(n+1):
    b=b+j
  return(a+b-1)
max_num(n)-max_num(n-1)

11

베르트랑 공준은 임의의 자연수 n에 대하여, n보다 크고, 2n보다 작거나 같은 소수는 적어도 하나 존재한다는 내용을 담고 있다.

이 명제는 조제프 베르트랑이 1845년에 추측했고, 파프누티 체비쇼프가 1850년에 증명했다.

예를 들어, 10보다 크고, 20보다 작거나 같은 소수는 4개가 있다. (11, 13, 17, 19) 또, 14보다 크고, 28보다 작거나 같은 소수는 3개가 있다. (17,19, 23)

자연수 n이 주어졌을 때, n보다 크고, 2n보다 작거나 같은 소수의 개수를 구하는 프로그램을 작성하시오.

In [ ]:
# 소수 구하는 식
#소수 중에서 n보다 크고 2n보다 작은 소수 갯수 구하는 식

In [15]:
#특정수가 소수인지 확인하기
def check_num(num):
  for i in range(2,num):
    if (num%i==0):
      return False

  return True


# n보다 작거나 같은  소수 갯수 구하기
def count_num(n):
  count=0
  for i in range(2,n+1):#특정수가 소수인지 확인하는걸 n까지 반복 실행
    if check_num(i)==True:
      count+=1
  return count

n=int(input())

print(count_num(2*n)-count_num(n))

5
1

위 식을 줄여보자

In [18]:
def count_num2(n):
  count=0
  for i in range(2, (n+1)):
    for j in range(2, n):
      if i%j==0:
        break
    count+=1
  return count

count_num2(5)

4